tiramisu_trained/
tiramisu14/
tiramisu13/
tiramisu_new/
__pycache__
*~
*.pyc
*.h5
.ipynb_checkpoints/
results/*
!/results/donotdelete.txt
data/*
!/data/donotdelete.txt
models/*
!/models/donotdelete.txt

